body {
    margin: 0px;
}

#hoja {
    position:absolute;
}

.enlace {
    font-size: 2em;
}

#menu {
    background-color: blue;
    color:white;
    width: 70%;
    height: 100vh;

    position: absolute;
    top: 0px;
    left: -60%;

    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

#div1 {
    background-color:thistle;
    width: 90%;
    height: 100vh;

    position: absolute;
    top: 0px;
    left: 10%;
}

#div2 {
    background-color: bisque;
    width: 90%;
    height: 100vh;

    position: absolute;
    top: 0px;
    left: -100%;
}